.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  background: #000000cc;
  z-index: 9999;
  gap: 1rem;
}

.header {
  /* background-color: #110100; */
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.mt-48 {
  margin-top: 48px;
}

.c-white {
  color: white;
}

.c-gray {
  color: #8c8c8c;
}

.c-black {
  color: #000000;
}

.fs-xl {
  font-size: 1.5rem;
}

.fs-lg {
  font-size: 1.25rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-sm {
  font-size: 0.625rem;
}

.fs-xs {
  font-size: 0.6rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  width: 100%;
}

.footer {
  display: flex;
  /* background-color: #110100; */
  justify-content: center;
  margin: 12px 0;
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #2fc0db;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}
